# Ignore venv
.venv

venv


# Ignore database files
*.db

.env

*.log
**/*.log




**/__pycache__/
**/_pycache/




psicouja-b1ef9-firebase-adminsdk-fbsvc-cd3f93d439.json


cache/
sessions_export*.jsonl
